@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
.carousal{
    height: fit-content;
    margin-left: 40%;
    position: relative;
    margin-top: 5%;
    width:900px;
    height:500px;
    border-radius: 0px;
}
.link{
    position: absolute;
    margin-top: -20%;
    text-decoration: none;
    color:green;
    font-size: x-large;
    margin-left: 10%;
    font-family:"jost", sans-serif;
}
.link:hover{
    color:red;
}

@media screen and (max-width:764px) {

    .carousal{
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top:5%;
    width:480px;
    height:270px;
    border-radius: 0px;
}
.main{
    text-align: center;
}
.link{
    position: relative;
    top:20px;
    font-size: 20px;
    text-decoration: none;
    color:green;
    font-family:"jost", sans-serif;
}
.link:hover{
    color:red;
}
}